<nav>
    <div>
      <div>
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">教育訓練</a>
      </div>
  
      <div id="bs-example-navbar-collapse-1">
        <ul>
          <!-- <li><a href="/articles">文章管理</a></li> -->
          <!-- <li><a href="/lecture">課程管理</a></li> -->
          <li><a href="/homework">新人練習題</a></li>
          <li><a href="/redis">ioredis</a></li>
          <li><a href="/notes">筆記管理MySQL</a></li>
          <!-- <li><a href="/users">使用者管理</a></li> -->
          <li><a href="/">Hello Express</a></li>
        </ul>
      </div>
    </div>
  </nav>