<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
  </script>
</head>
<body>
  <% include header %>
  <div>
    <h2><%= title %></h2>
    <table>
      <tr>
        <th>memid</th>
        <th>name</th>
        <th>tel</th>
      </tr>
      <% data.forEach(function(data) { %>
      <tr>
        <td><%= data.memid %></td>
        <td><%= data.name %></td>
        <td><%= data.tel %></td>
      </tr>
      <% }); %>
    </table>
   </div>
</body>
</html>