<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
    function Add() {
      var name = document.getElementsByName('name')[0].value;
      var content = document.getElementsByName('content')[0].value;
      var src = document.getElementsByName('src')[0].value;
      window.location.href = "/notes/userAdd?name=" + name + '&content=' + content + '&src=' + src;
    }
    function Edit(id) {
      window.location.href = "/notes/userEdit?id=" + id;
    }
    function Delete(id) {
      var rs = confirm('Confirm to delete?');
      if (rs) {
        window.location.href = "/notes/userDelete?id=" + id;
      }
    }
    function Search() {
      var userid = document.getElementsByName('suserid')[0].value;
      window.location.href = "/notes?id=" + userid;;
    }
  </script>
</head>
<body>
  <% include header %>
  <div>
    <h2>筆記<%= title %></h2>
     <div class="search">
        <label>關鍵字：</label>
        <input type="text" name="suserid" value="<%= id%>" placeholder="input the keyword">
        <input type="button" name="sSearch" value="Search" class="btn" onclick="Search();">
    </div>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>content</th>
      </tr>
      <% data.forEach(function(data) { %>
      <tr>
        <td><%= data.id %></td>
        <td><%= data.name %></td>
        <td>
            <% if(data.src) {%>
              <a href=<%= data.src %>>
            <% }%>
            <%= data.content %>
            <% if(data.src) {%>
              </a>
            <% }%>
        </td>
        <td>
          <input type="button" name="edit" value="Edit" onclick="Edit('<%= data.id  %>');" />
          <input type="button" name="delete" value="Delete" onclick="Delete('<%= data.id  %>');" />
        </td>
      </tr>
      <% }); %>
    </table>
    <table>
        <tr>
          <th>name</th>
          <th>content</th>
          <th>src</th>
        </tr>
        <tr>
          <td><input type="input" value="" name="name"/></td>
          <td><input type="input" value="" name="content"/></td>
          <td><input type="input" value="" name="src" size="80" /></td>
        </tr>
    </table>
    <input type="button" name="sAdd" value="Add" class="btn" onclick="Add();">
  </div>
</body>
</html>