<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <% include header %>
  <div>
    <h2>使用者列表</h2>
    <table>
      <tr>
        <th>id</th>
        <th>姓名</th>
      </tr>
      <% users.forEach(function(user) { %>
          <tr>
            <td><a href="/users/<%= user.id %>"><%= user.id %></a></td>
            <td><%= user.name %></td>
          </tr>
      <% }); %>
    </table>
  </div>
</body>
</html>