<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <% include header %>
  <div>
    <h2>使用者資料</h2>
    <table>
      <tr>
        <th>id</th>
      </tr>
        <tr>
          <td><%= id %></td>
        </tr>
    </table>
  </div>
</body>
</html>