<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    function Checkd() {
        var name = document.getElementsByName('name')[0].value;
        var content = document.getElementsByName('content')[0].value;
        var src = document.getElementsByName('src')[0].value;
        //if (name && content && src) {
            return true;
        //}
        //return false;
    }
    </script>
</head>

<body>
    <form name="editform" action="userEdit" method="post" accept-charset="utf-8" onSubmit="return Check();">
        <h1>Account - Edit</h1>
        <input type="hidden" name="id" value="<%=data[0].id  %>" />
        <div class="row">
            <label>name：</label>
            <input type="text" name="name" placeholder="name" value="<%=data[0].name %>" readonly  />
        </div>
        <div class="row">
            <label>content：</label>
            <input type="text" name="content" placeholder="content" value="<%=data[0].content  %>" />
        </div>
        <div class="row">
            <label>src：</label>
            <input type="text" name="src" placeholder="src" value="<%=data[0].src  %>" size="128">
        </div>
        <div class="row">
            <input class="btn" type='submit' value='Submit'>
            <input class="btn" type='reset' value='Reset'>
            <input class="btn" type='button' value='Back' onclick="javascript: window.history.back();">
        </div>
    </form>
</body>

</html>